* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 1s; }

body {
  color: #FFF;
  font-family: sans-serif;
  background-color: #D33; }

img {
  max-width: 100%; }

.toolbar--global {
  background-color: green;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 0;
  z-index: 9999; }
  .toolbar--global .menu-navigation {
    height: 60px;
    width: 60px;
    padding: 18px;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px; }
    .toolbar--global .menu-navigation svg {
      fill: #FFF; }

.toolbar--relative {
  background-color: #00AA8D;
  color: #FFF;
  height: 60px;
  text-align: center;
  line-height: 60px; }
  .toolbar--relative .right {
    position: absolute;
    right: 0; }
  .toolbar--relative .icon-search {
    height: 60px;
    width: 48px;
    display: block; }

.wrapper-page {
  background-color: #FFF;
  color: #333; }

.wrapper-page.product {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  overflow-y: auto; }

.wrapper-page.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .wrapper-page.home .container-wrapper {
    background-color: #F5F5F5;
    flex: 1;
    overflow-y: auto; }

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card {
  background-color: #FFF;
  margin: 24px;
  list-style: none;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .card .cover {
    height: 180px; }

.header-product {
  padding: 16px;
  display: flex; }
  .header-product .icon {
    width: 48px; }
  .header-product .info {
    flex: 1; }
  .header-product .product-title {
    font-weight: 400;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased; }
  .header-product .product-subtitle {
    color: #999; }

.wrapper-pages {
  outline: 2px solid yellow;
  outline-offset: -2px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

h1 {
  font-size: 36px;
  font-weight: 100; }

input {
  display: block;
  width: 100%;
  padding: 8px; }

input + input {
  margin-top: 16px; }
