<div class="wrapper-page product" style="display: none;">
    <div class="cover">
        <img src="img/01.png" alt="image cover">
    </div>
    <header class="header-product">
        <div class="icon">
            <span class="icon">I</span>
        </div>
        <div class="info">
            <h2 class="product-title">Pesto Bruschetta</h2>
            <div class="product-subtitle">Peter Carlsson</div>
        </div>
    </header>
    <main>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, cum inventore, molestias numquam in odit recusandae velit esse accusamus ea, dolor, obcaecati omnis officiis neque excepturi temporibus doloribus nemo nesciunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, cum inventore, molestias numquam in odit recusandae velit esse accusamus ea, dolor, obcaecati omnis officiis neque excepturi temporibus doloribus nemo nesciunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, cum inventore, molestias numquam in odit recusandae velit esse accusamus ea, dolor, obcaecati omnis officiis neque excepturi temporibus doloribus nemo nesciunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, cum inventore, molestias numquam in odit recusandae velit esse accusamus ea, dolor, obcaecati omnis officiis neque excepturi temporibus doloribus nemo nesciunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, cum inventore, molestias numquam in odit recusandae velit esse accusamus ea, dolor, obcaecati omnis officiis neque excepturi temporibus doloribus nemo nesciunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, cum inventore, molestias numquam in odit recusandae velit esse accusamus ea, dolor, obcaecati omnis officiis neque excepturi temporibus doloribus nemo nesciunt.
        </p>
    </main>
</div>